.line {
  margin-left: 10px;
  text-decoration: line-through;
}

.rightMargin {
  margin-right: 10px;
}

.todoMargin {
  margin: 10px 10px 10px 0;
}

.checkboxMargin {
  margin-left: 10px;
}

.allTodos {
  margin: 10px 0;
}

.xButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px 10px 0 0;
}
